<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar producto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Editar producto {{ producto_id }}</h1>
    <form action="/editar/{{ producto_id }}" method="POST">
        <label>Nombre: <input type="text" name="nombre" required></label><br>
        <label>Cantidad: <input type="number" name="cantidad" required></label><br>
        <label>Precio: <input type="text" name="precio" required></label><br>
        <label>Fecha de Vencimiento: <input type="date" name="fecha_vencimiento" required></label><br>
        <label>Categoría: <input type="text" name="categoria" required></label><br>
        <button type="submit">Guardar cambios</button>
    </form>
</body>
</html>
